
@{
    ViewBag.Title = "EditGameAdminPanel";
    Layout = null;
}

<head>
    <title>Add Game</title>
    <style>
        /* Battle.net style */
        body {
            font-family: Arial, sans-serif;
            background-color: #323232;
            color: #fff;
        }

        .form-container {
            max-width: 500px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            background-color: #454545;
            color: #fff;
        }

        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            background-color: #454545;
            color: #fff;
        }

        .image-selector {
            margin-bottom: 10px;
        }

            .image-selector label {
                display: inline-block;
                margin-right: 10px;
            }

        .button-container {
            text-align: center;
        }

        button {
            background-color: #4b4b4b;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }

            button:hover {
                background-color: #5b5b5b;
            }
    </style>
</head>
<body>
    <h1>Edit game: @Model.Name</h1>

    <div class="form-container">
        @using (Html.BeginForm("ApplyEditedGame", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label for="gameName">Game Name</label>
            <input type="text" id="gameName" name="gameName" placeholder="Enter the game name" value="@Model.Name">

            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Enter the game description">@Model.Description</textarea>

            <label for="price">Price</label>
            <input type="text" id="price" name="price" placeholder="Enter the game price" value="@Model.Price">

            <label for="category">Category Name</label>
            <input type="text" id="category" name="category" placeholder="Enter the game category name" value="@Model.CategoryName">

            <label for="platform">Platform</label>
            <input type="text" id="platform" name="platform" placeholder="Enter platform" value="@Model.Platform">

            <label for="imageFolder">Image Folder Name</label>
            <input type="text" id="imageFolder" name="imageFolder" placeholder="Enter the image folder name"
                   value="@Model.ImageFolderName">

            <div class="image-selector">
                <label for="singleImage">Select new preview image</label>
                <input type="file" id="singleImage" name="singleImage" accept=".jpg, .jpeg, .png">
            </div>

            <div class="image-selector">
                <label for="multipleImages">Add new images to game</label>
                <input type="file" id="multipleImages" name="multipleImages" accept=".jpg, .jpeg, .png" multiple>
            </div>

            <hr />

            <label for="OS">OS</label>
            <input type="text" id="OS" name="OS" placeholder="Enter OS" value="@Model.SysReq.OS">

            <label for="processor">Processor</label>
            <input type="text" id="processor" name="processor" placeholder="Enter Processor" value="@Model.SysReq.Processor">

            <label for="memory">Memory</label>
            <input type="text" id="memory" name="memory" placeholder="Enter memory" value="@Model.SysReq.Memory">

            <label for="graphics">Graphics</label>
            <input type="text" id="graphics" name="graphics" placeholder="Enter Graphics" value="@Model.SysReq.Graphics">

            <label for="directX">DirectX</label>
            <input type="text" id="directX" name="directX" placeholder="Enter DirectX" value="@Model.SysReq.DirectX">

            <label for="storage">Storage</label>
            <input type="text" id="storage" name="storage" placeholder="Enter Storage" value="@Model.SysReq.Storage">

            <label for="soundcard">SoundCard</label>
            <input type="text" id="soundcard" name="soundcard" placeholder="Enter Soundcard" value="@Model.SysReq.SoundCard">

            <input type="hidden" name="gameID" value="@Request.QueryString["gameID"]" />
            <div class="button-container">
                <button type="submit">Edit</button>
            </div>
        }
    </div>

</body>
