
@{
    ViewBag.Title = "AccountDetails";
    var userModel = ViewData["UserModel"] as SteelGames.Models.User;
    var keyModel = ViewData["GameKeyModel"] as List<SteelGames.Models.GameKeyModel.KeyStruct>;
}

<head>
    <link href="~/Content/page_styles/account_details.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container-account-details">
        <h2>User Information</h2>
        <p><strong>Email:</strong> @userModel.Email</p>
        <p><strong>Phone:</strong> @userModel.PhoneNumber</p>

        @if (userModel is SteelGames.Models.Admin)
        {
            var adminUser = userModel as SteelGames.Models.Admin;
            <p><strong>Position:</strong> @adminUser.Position</p>
        }
        else if (userModel is SteelGames.Models.Client)
        {
            var clientUser = userModel as SteelGames.Models.Client;
            <p><strong>Registration Date:</strong> @clientUser.RegistrationDate.ToString("yyyy-MM-dd")</p>
        }

        <h2>Owned Games</h2>
        @Html.ActionLink("Save games to excel", "SaveClientGamesKeyReportXls", "ReportSaver")
        <table>
            <tr>
                <th>Game</th>
                <th>Platform</th>
                <th>Key</th>
            </tr>
            @foreach (var row in keyModel)
            {
                <tr>
                    <td class="game-name-account-details">
                        <a href="@Url.Action("GameDetails", "Home", new { gameID = row.GameID })">
                            @row.GameName
                        </a>
                    </td>
                    <td class="game-platform-account-details">@row.Platform</td>
                    <td class="game-key-account-details">@row.Key</td>
                </tr>
            }
        </table>
    </div>

</body>